@import "../mixins";
@import "../variables";

.list-tabs {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	background-color: #fff;
	margin: 0px 32px 16px 32px;
	padding: 0;
	list-style: none;

	.tab {
		font-weight: 300;
		font-size: $font-size-14;
		float: left;
		width: 14%;
		padding: 8px 0px;
		text-align: center;
		cursor: pointer;

		&:first-child {
			width: 8%;
		}

		&.is-active {
			font-weight: 600;
			border-bottom: 2px solid $base-color;
		}

		&:hover {
			font-weight: 600;
		}
	}

}

.action-pane {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #fff;
	margin: 0px 32px 16px 32px;
	padding: 0;
	align-items: center;
	opacity: 1;
	visibility: visible;
	max-height: 200px;
	/* Adjust this value based on your content */
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, max-height 0.3s ease-in-out;
	/* Set transitions */


	:first-child {
		flex-grow: 5;
		text-align: left;
	}

	.checkbox-wrapper {
		margin-left: 15px;
		width: 140px;
		cursor: pointer;

		.checkbox-label {
			font-size: $font-size-14;
			margin-left: 20px;
		}
	}

	.action-wrapper {
		cursor: pointer;

		span {
			margin: 4px 16px;

			&:hover {
				color: $base-color-lighter;
			}
		}
	}

	&.hide-slide {
		opacity: 0;
		/* Fade-out effect */
		visibility: hidden;
		max-height: 0;
	}
}

.list-view {
	overflow-y: auto;
	margin: 0px 30px;
	max-height: 60vh;
	transition: max-height 200ms ease-in-out;

	&.hide-slide {
		max-height: 62vh;
	}

	.list-item {
		height: 10vh;
		border: 1px solid $base-border;
		margin-right: 4px;
		margin-bottom: 6px;
		border-radius: 6px;
		display: flex;
		flex-direction: row;

		&.is-read {
			background-color: $base-color-lightest;
			color: $base-color-lighter;

			.detail-wrapper .read-users .user-avatar {
				opacity: 50%;
			}

			.detail-wrapper .title {
				cursor: initial;
				pointer-events: none;

				&:hover {
					text-decoration: none;
				}
			}
		}

		&.is-selected {
			background-color: $base-border;
			color: $base-color;

			.notifIcon {
				filter: invert(31%) sepia(13%) saturate(833%) hue-rotate(179deg) brightness(97%) contrast(87%);
			}

			.detail-wrapper .read-users .seen {
				color: $base-color;
			}

			.detail-wrapper .title {
				cursor: initial;
				pointer-events: none;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.list-checkbox {
			margin-left: 20px;
		}

		.notifIcon {
			filter: invert(82%) sepia(8%) saturate(306%) hue-rotate(171deg) brightness(99%) contrast(101%);
			width: 46px;
			margin: 0px 16px;
		}

		.detail-wrapper {
			display: flex;
			flex-direction: column;
			text-align: left;
			justify-content: center;
			flex-grow: 3;

			.title {
				font-size: $font-size-15;
				font-weight: 600;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}

			.notif-header {
				display: flex;
				flex-direction: row;

				.prio {
					margin-left: 8px;
					border-radius: 12%;

					&.high {
						margin-top: 2px;
						height: 14px;
					}

					&.med {
						margin-top: 4px;
						height: 10px;
					}
				}
			}


			.desc {
				margin-top: 4px;
				font-size: $font-size-12;
			}

			.read-users {
				display: flex;
				flex-direction: row;
				justify-content: left;
				align-items: center;
				margin-top: 6px;

				.seen {
					font-size: $font-size-12;
					color: $base-color-lighter;
					margin-right: 10px;
				}

				.user-avatar {
					margin-left: -4px;
				}
			}
		}

		.time-elapsed {
			font-size: $font-size-12;
			margin: 15px 15px;

			&.tooltip-enabled {
				position: relative;

				&:before {
					content: attr(data-text);
					position: absolute;
					font-size: 10px;
					margin-top: 25px;
					margin-left: -5px;
					padding: 3px;
					border-radius: 5px;
					background: $base-color-lightest;
					color: $base-color-lighter;
					text-align: center;

					display: none;
				}

				&:hover:after {
					content: " ";
					position: absolute;
					bottom: 60%;
					left: 50%;
					margin-left: -5px;
					border-width: 5px;
					border-style: solid;
					border-color: transparent transparent $base-color-lightest transparent;
				}

				&:hover:before {
					display: block;
				}
			}
		}
	}
}

.empty-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50vh;
	color: $base-border;

	.icon {
		font-size: 10rem;
	}

	.main-lbl {
		font-weight: 600;
		font-size: $font-size-15;
		margin-bottom: 5px;
	}

	.sub-lbl {
		font-size: $font-size-14;
	}
}

.loader-wrapper {
	.main-lbl {
		color: $base-border;
		font-weight: 500;
		font-size: $font-size-15;
		margin-top: 30px;
	}
}